.login {
  flex: 1;
  background-color: #12002b;
  display: flex;
  align-items: center;

  .loginForm {
    margin: 0 auto 250px auto;
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    width: fit-content;
    height: fit-content;
    .signInIcon {
      font-size: 1.2rem;
    }
    .loginFormTitle {
      margin: 0;
    }

    .loginLabelInput {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
    }
    .loginLabelInput > label {
      font-weight: bold;
    }
    .loginLabelInput > input {
      padding: 7px;
      border: 1px solid #2c3e50;
      border-radius: 2px;
      font-size: 1.2rem;
    }

    .loginLabelInput > input:focus {
      border: 1px solid black;
    }

    .inputRememberMe {
      width: 100%;
    }

    .errorLogin {
      color: red;
      font-size: 1rem;
      font-weight: 700;
    }
    button {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      border: none;
      background-color: #00bc77;
      text-decoration: underline;
      color: #fff;
      cursor: pointer;
    }
  }
}
