header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  .logo {
    width: 200px;
    img {
      width: 100%;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .hidden {
    opacity: 0;
    color: red;
  }
}

@media (max-width: 920px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    .logo {
      width: 150px;
    }
  }
}
