.account {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 25px 20px;
  background: white;
  color: black;
  .accountInfos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .accountTitle {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
    }
    .accountAmount {
      margin: 0;
      font-size: 2.5rem;
      font-weight: bold;
      color: #2c3e50;
    }
    .accountDesc {
      margin: 0;
    }
  }
  .viewsTransactionBtn {
    button {
      border-color: #00bc77;
      background-color: #00bc77;
      font-weight: bold;
      text-decoration: none;
      width: 180px;
      margin-top: 30px;
      padding: 8px;
      font-size: 1.1rem;
      color: #fff;
    }
  }
}

@media (max-width: 920px) {
  .account {
    display: grid;
    grid-template-columns: 1fr;
    .accountInfos {
      .accountAmount {
        margin: 0;
        font-size: 2rem;
        margin: 5px 0;
      }
    }
    .viewsTransactionBtn {
      button {
        margin-top: 10px;
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}
